<h1 class="text-center my-4">Mascotas disponibles para adopción</h1>

<div class="container">
  <section class="mb-5">
    <h2 class="mb-4 border-bottom pb-2">Perros</h2>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <% @dogs.each do |dog| %>
        <div class="col">
          <%= render 'pet_card', pet: dog %>
        </div>
      <% end %>
      <% if @dogs.empty? %>
        <div class="col-12 text-center py-4">
          <p>No hay perros disponibles actualmente.</p>
          <%= image_tag default_pet_image_url(:dog, size: '400x300'), class: "img-fluid rounded" %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="mb-4 border-bottom pb-2">Gatos</h2>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <% @cats.each do |cat| %>
        <div class="col">
          <%= render 'pet_card', pet: cat %>
        </div>
      <% end %>
      <% if @cats.empty? %>
        <div class="col-12 text-center py-4">
          <p>No hay gatos disponibles actualmente.</p>
          <%= image_tag default_pet_image_url(:cat, size: '400x300'), class: "img-fluid rounded" %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="mb-4 border-bottom pb-2">Cobayos</h2>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <% @guinea_pigs.each do |gp| %>
        <div class="col">
          <%= render 'pet_card', pet: gp %>
        </div>
      <% end %>
      <% if @guinea_pigs.empty? %>
        <div class="col-12 text-center py-4">
          <p>No hay cobayos disponibles actualmente.</p>
          <%= image_tag default_pet_image_url(:guinea_pig, size: '400x300'), class: "img-fluid rounded" %>
        </div>
      <% end %>
    </div>
  </section>
</div>